doctype html
html
    head
        style
            include style.css

    body
        div
            | HELLO CHAT
            br
            | Yes of course
            p This is P
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendUr) DEC course Node.js
