# Default ignored files
/../../../WebstormProjects./untitled3/.idea/shelf/
/../../../WebstormProjects./untitled3/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../WebstormProjects./untitled3/.idea/httpRequests/
